.nav-container {
  position: fixed; /* 1. Takes it out of the layout flow */
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-size: 16px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );

  display: flex;
  align-items: center;
  padding: 0 4%;
  transition: background-color 0.5s ease;
}
li {
  list-style: none;
  /* color: white; */
  cursor: pointer;
}

.left-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.right-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
img {
  height: 30px;
  width: 54px;
}
