.nav-container {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  gap: 300px;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  width: 100%;
  /* border: 2px solid wheat; */
}
li {
  list-style: none;
  color: white;
  cursor: pointer;
}

.left-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.right-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
img {
  height: 40px;
  width: 64px;
}
