* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111; /* Classic Netflix Black */
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden; /* Prevents unwanted horizontal scroll of the whole page */
}
